@using ManagementSystem.BLL.ViemModels
@model CreateDepartment
<form asp-action="Add" asp-controller="Department">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <button value="Add" ></button>
    
</form>
