@using ManagementSystem.BLL.ViemModels
@using Microsoft.AspNetCore.Mvc.Rendering

@model CreateEmployee

@{
    SelectList departments = new SelectList(ViewBag.Department, "Id", "Name");
}

<form asp-action="Add" asp-controller="Employee" method="post">

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div>
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control" />
    </div>

    <div>
        <label asp-for="DepartmentId"></label>

        <select asp-for="DepartmentId"
                asp-items="departments"
                class="form-control">

            <option value="">-- Select Department --</option>

        </select>
    </div>

    <button type="submit" class="btn btn-primary">
        Save
    </button>

</form>